<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Cadastro de Usuário</h2>

    <form id="cadastroForm">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" required>
        </div>

        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login" required>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" required>
        </div>

        <div class="form-group">
            <label for="confirmaSenha">Confirme a Senha:</label>
            <input type="password" class="form-control" id="confirmaSenha" required>
        </div>

        <a class="btn btn-secondary" href="login.html">Voltar</a>
        <button type="button" class="btn btn-primary" onclick="cadastrarUsuario()">Cadastrar</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function cadastrarUsuario() {
        var nome = document.getElementById('nome').value;
        var login = document.getElementById('login').value;
        var senha = document.getElementById('senha').value;
        var confirmaSenha = document.getElementById('confirmaSenha').value;

        // Verificar se senha e confirmação de senha são iguais
        if (senha !== confirmaSenha) {
            console.log('Senha e confirmação de senha não são iguais.');
            // Adicione lógica adicional para lidar com senhas diferentes
            return;
        }

        var usuario = {
            nome: nome,
            login: login,
            senha: senha
        };

        // Realize a requisição para o endpoint de cadastro
        fetch("http://localhost:8080/usuarios", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(usuario)
        })
        .then(response => {
            if (response.ok) {
                Swal.fire({
					title: "Novo usuário",
					text: "Usuário cadastrado com sucesso.",
					icon: "success"
				});
            } else {
                Swal.fire({
					title: "Novo usuário",
					text: "Falha ao cadastrar o novo usuário.",
					icon: "error"
				});
            }
        })
        .catch(error => {
            console.error('Erro:', error);
        });
    }
</script>

</body>
</html>
