<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Página de Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h2 class="text-center">Login</h2>
					</div>
					<div class="card-body">
						<form id="loginForm">
							<div class="form-group">
								<label for="login">Login:</label>
								<input type="text" class="form-control" id="login" name="login" required>
							</div>
							<div class="form-group">
								<label for="senha">Senha:</label>
								<input type="password" class="form-control" id="senha" name="senha" required>
							</div>
							<button type="button" class="btn btn-primary btn-block"
								onclick="fazerLogin()">Login</button>
						</form>
					</div>
					<div class="card-footer">
						<p class="text-center">Ainda não tem uma conta? <a href="cadastro.html">Cadastrar-se</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function fazerLogin() {
			var login = document.getElementById('login').value;
			var senha = document.getElementById('senha').value;

			// Fazer requisição para o backend (exemplo usando fetch)
			fetch("http://localhost:8080/usuarios/login", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					login: login,
					senha: senha
				})
			})
			.then(response => {
				// Verifica se a requisição foi bem-sucedida (status 200 OK)
				if (response.ok) {
					// Converte o corpo da resposta para JSON
					return response.json();
				} else {
					// Se a resposta não foi bem-sucedida, lança um erro
					throw new Error('Falha na requisição');
				}

			})
			.then(data => {
				// Agora 'data' contém o corpo da resposta como um objeto JavaScript
				console.log(data); // Aqui você verá o conteúdo do corpo da resposta

				// Faça o que precisar com 'data', por exemplo, verificar se é true ou false
				if (data === true) {
					Swal.fire({
						title: "Login",
						text: "Acesso concedido.",
						icon: "success"
					});
				} else {
					Swal.fire({
						title: "Login",
						text: "Acesso negado.",
						icon: "error"
					});
				}
			})
			.catch(error => {
				console.error('Erro:', error);
			});
		}
	</script>

</body>

</html>